rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Despensa(s) da família.
    // Qualquer usuário AUTENTICADO pode ler/escrever os documentos de household.
    // Isso é o suficiente para uso familiar com login.
    match /households/{householdId} {
      allow read, write: if request.auth != null;
    }
  }
}
